.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}

.green-text {
  color: green;
}
.yellow-text {
  color: yellow;
}
.red-text {
  color: red;
}

.lightTxtDarkBack {
  color: grey;
  background-color: black
}
.darkTxtlightBack {
  color: black;
  background-color: grey
}

.onClick {
  background-color: yellow;
  padding: 2px;
  border: 2px solid black;
}
