#card1-showing {
  display: none;
}

#card2-showing {
  display: none;
}

#card3-showing {
  display: none;
}

#card4-showing {
  display: none;
}

.clickable1 {
  cursor: pointer;
  color: #0088cc;
}

.clickable1:hover {
  text-decoration: underline;
}

.clickable2 {
  cursor: pointer;
  color: #0088cc;
}

.clickable2:hover {
  text-decoration: underline;
}

.clickable3 {
  cursor: pointer;
  color: #0088cc;
}

.clickable3:hover {
  text-decoration: underline;
}

.clickable4 {
  cursor: pointer;
  color: #0088cc;
}

.clickable4:hover {
  text-decoration: underline;
}
